<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello web</title>
</head>
<body>
    <h1>Hello world with dinh anh from views </h1>
    <p><%=data %></p>
</body>
</html>